<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">StatusRollup</a>
    <ul class="nav">
      <%= nav_link_to 'Home', home_path %>
    </ul>
  </div>
</div>
