<div class="hero-unit">
  <%= image_tag 'logo.png', class: 'logo' %>
  <h1>StatusRollup</h1>
  <h2>Rolling up GitHub Commit Statuses</h2>
  <p>
    Use multiple <a href="https://github.com/blog/1227-commit-status-api">GitHub Commit Status tools</a>
    like <a href="http://www.clahub.com">CLAHub</a> and <a href="https://travis-ci.org/">Travis&nbsp;CI</a>
    at the same time by rolling up statuses across tools into one aggregate status.
  </p>
  <p><a class="btn btn-primary btn-large" href="/auth/github">Sign in with GitHub to get started &raquo;</a></p>
</div>
